<h1>{{title}}
	<small>{{description}}</small>
</h1>
{{#equals type 'array'}}
	<strong>[]</strong> - Response is an array of the following:
{{/equals}}

<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Type</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
	{{#each properties}}
		<tr {{#ifRequired ../required @key}}class="required"{{/ifRequired}}>
			<td class="name">{{@key}}</td>
			<td class="type">
				{{#equals type "integer"}}
					{{> typeNumber}}
				{{/equals}}
				{{#equals type "string"}}
					{{> typeString}}
				{{/equals}}
			</td>
			<td class="description">{{description}}</td>
		</tr>
	{{/each}}
	</tbody>
</table>
